body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    color: #fff;
    background-color: #fff;	
    margin: 10px;	
}

h1 {
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-size: 24pt !important;
}

.jumbotron {
    background-color: #129cec;
}

.alert {
    display: none;
}

.error {
    color: #000000;
}

.disabled {
    pointer-events: none;
    color: #ddd !important;
}

#footer > p {
    color: #333;
}

#footer > p > a > img {
    width: 60px;
}

@media (min-width: 1200px) {
	
}

@media (min-width: 992px) {
	
}

@media (min-width: 768px) {
	
}